.typo{
  font-size: 22px;
  color:#000;
  padding: 20px;
}


.regular{
  font-family: $GillSans-Regular;
}

.bold{
  font-family: $GillSans-Bold;
}

.semi-bold{
  font-family: $GillSans-SemiBold;
}

.light{
  font-family: $GillSans-Light;
}

.medium{
  font-family: $GillSans-Medium;
}