.box{
  font-family: $GillSans-Bold;
  text-align: center;
  padding: 50px;
  width: 100px;
  color: $White;
}

.blue{
  background-color: $Blue;
}

.gris1{
  background-color: $Gris1;
}

.gris2{
  background-color: $Gris2;
}

.gris3{
  background-color: $Gris3;
}

.gris4{
  background-color: $Gris4;
  color: $Black;
}

.gris5{
  background-color: $Gris5;
  color: $Black;
}

.gris6{
  background-color: $Gris6;
  color: $Black;
}

.black{
  background-color: $Black;
  color: $White;
}

.white{
  background-color: $White;
  color: $Black;
}

.yellow{
  background-color: $Yellow;
  color: $Black;
}

.red{
  background-color: $Red;
  color: $White;
}


