.citeo{
  .btn-wrapper{
    background-color: $Black;
    padding: 16px;
    color: $White;
    border: 0;
    outline:0;
    text-transform: uppercase;
    &__btn{
      font-family: $GillSans-Regular;
      padding: 16px 20px 16px 20px;
    }
  }
}

.adelphe{
  .btn-wrapper{
    background-color: #eaab32;
    padding: 16px;
    color: $White;
    border: 0;
    outline:0;
    text-transform: uppercase;
    border-radius: 21px;
    &__btn{
      font-family: $GillSans-Regular;
      padding: 16px 20px 16px 20px;
    }
  }
}

