// -----------------------------------------------------------------------------
// This file is where you should import all your project files
// -----------------------------------------------------------------------------

// SuperColor

$Blue: #00afec;

// Couleurs Secondaires

$Gris1: #767676;
$Gris2: #9E9E9E;
$Gris3: #97A0A1;
$Gris4: #EDEDED;
$Gris5: #F4F4F4;
$Gris6: #FAFAFA;

// Couleurs invariantes

$Black: black;
$White: white;
$Yellow: #FFFE02;
$Red: #FF1425;


